{% block title %} File Upload {% endblock title %}

{% block content %}
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				Upload File
			  </div><!-- /.box-header -->
			  <div class="box-body">
				<form id="user_form" method="post" action="{% url "register" %}" enctype="multipart/form-data">
				  {% csrf_token %}
				  {{ form.as_p }}
				  <!--<button type="submit">Upload</button>-->
				</form>
			  </div>
		</div>
		<!-- /.box -->
	</div>
</div>
{% endblock content %}
